
  <!-- footer section start hare -->

  <footer class="footer-wrapper footer-1">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="single-footer-widget wow fadeInLeft">
                        <div class="about-us-widget">
                            <a href="" class="footer-logo d-block">
                                <img src="images/dashboard-logo1711713000.png" alt="TradePro">
                            </a>
                            <p>Trade with a customizable multi-asset trading platform. Offering CFDs on forex, commodities, cryptocurrencies, NFT's and synthetics</p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 offset-xl-1 col-sm-6 col-12">
                    <div class="single-footer-widget wow fadeInLeft" data-wow-delay=".2s">
                        <div class="widget-title">
                            <h5>Company</h5>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 offset-xl-1 col-sm-6 col-12">
                    <div class="single-footer-widget wow fadeInLeft" data-wow-delay=".4s">
                        <div class="widget-title">
                            <h5>Product</h5>
                        </div>
                        <ul>
                            <li><a href="#">Crypto</a></li>
                            <li><a href="#">NFTs</a></li>
                            <li><a href="#">Forex</a></li>
                            <li><a href="#">Indices</a></li>
                            <li><a href="#">Stocks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 offset-xl-1 col-sm-6 col-12">
                    <div class="single-footer-widget wow fadeInLeft" data-wow-delay=".6s">
                        <div class="widget-title">
                            <h5>Contact</h5>
                        </div>
                        <p style="font-size:13px;">mail@coinfox.swiftsfunded.com</p>
                        <div class="social-links mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".3" data-wow-duration="1s">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-wrapper">
        <div class="container">
            <div class="footer-bottom-content d-md-flex justify-content-between">
                <div class="site-copyright wow fadeInUp" data-wow-delay=".2" data-wow-duration="1s">
                    <p>&copy; Copyright 2022, All Rights Reserved by CoinFox.SwiftsFundedFX</p>
                </div>
                <div class="social-links mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".3" data-wow-duration="1s">
                    <!-- <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</footer>
<style>
    #demo {
        display: none;
    }

    .demo-scroll {
        animation: 1s linear demo;
    }

    @keyframes demo {
        0% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(-10px);
        }

        100% {
            display: none;
        }
    }
</style>

<p id='demo' style='position:fixed; top: 100px; left: 30px;  padding: 30px'></p>
<script>
    var demo = document.getElementById('demo')
    setInterval(() => {
        code()
        setTimeout(() => {
            demo.style.display = 'none'
        }, 3000);
    }, 7000);


    function code() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            demo.innerHTML = xhr.responseText
            demo.classList.add('demo-scroll')
            demo.style.display = 'block'
        }
        xhr.open('GET.html', 'random.html', true);
        xhr.send();

    }
</script>
 <!-- footer section end hare -->


<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'ff0da0532fa820f85ae2f1cc4d211c68533ae5a7';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>


 <!--  ALl JS Plugins
   ====================================== -->

 <script src="assetss/js/jquery.min.js"></script>
 <script src="assetss/js/script.js"></script>

 <script src="assetss/js/modernizr.min.js"></script>
 <script src="assetss/js/jquery.easing.js"></script>
 <script src="assetss/js/popper.min.js"></script>
 <script src="assetss/js/bootstrap.min.js"></script>
 <script src="assetss/js/isotope.pkgd.min.js"></script>
 <script src="assetss/js/imageload.min.js"></script>
 <script src="assetss/js/scrollUp.min.js"></script>
 <script src="assetss/js/swiper-bundle.min.js"></script>
 <script src="assetss/js/magnific-popup.min.js"></script>
 <script src="assetss/js/wow.min.js"></script>
 <script src="assetss/js/metismenu.js"></script>
 <script src="assetss/js/active.js"></script>
</body>


<!-- index.html  06:27:48 GMT -->


<!-- Mirrored from coinfox.swiftsfunded.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2024 10:04:39 GMT -->
</html>
